.dad-card {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 70%;
  overflow: hidden;
}

.card-img {
  width: 70%;
  overflow: hidden;
}

.con-img {
  background: linear-gradient(to bottom, #e5c0eb 0%, #a3bfeb 100%);
  width: 100%;
  z-index: 2;
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
  animation-name: img;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.con-img img {
     width: 150%;
     height: auto;
     object-fit: contain;
}
@keyframes img {
  0% {
    transform: translate(30%);
    -webkit-transform: translate(30%);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
}

.con-card {
  transform: translateX(-60%);
  z-index: 1;
  animation-name: card;
  animation-duration: 1.5s;
  -webkit-transform: translateX(-60%);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.con-card:active {
  transform: scale(1.2); /* تكبير العنصر بنسبة 20% */
}

@keyframes card {
  0% {
    transform: translate(-60%);
    -webkit-transform: translate(-60%);
  }

  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }
}

.bro-1 {
  width: 25px;
  animation-name: bro-1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes bro-1 {
  0% {
    width: 25px;
  }

  100% {
    width: 50%;
  }
}
.bro-2 {
  width: 25px;
  animation-name: bro-2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes bro-2 {
  0% {
    width: 25px;
  }

  100% {
    width: 90%;
  }
}
.bro-3 {
  width: 25px;
  animation-name: bro-3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes bro-3 {
  0% {
    width: 25px;
    height: 0;
  }

  100% {
    width: 70%;
    height: 100%;
  }
}
