@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@layer {
  .neon-effect {
    @apply shadow-md bg-gradient-to-b from-secondary to-purple-400 p-1 rounded-md;
  }
  .neon-effect:hover {
    @apply shadow-lg;
  }
  .container {
    @apply mx-auto px-[30px];
  }
  .element-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply bg-[#00ffffa2] hover:bg-[#00ffffe7] transition-all duration-300 text-white element-center font-medium p-5 rounded-md;
  }
  .feature-card {
    @apply flex border-solid h-full flex-col items-center gap-4  border-[5px] rounded-3xl p-9;
  }
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: #181e2a;
  height: 2500px;
}

a {
  text-decoration: none;
}
.text-trans {
  text-shadow: 10px 15px 20px rgba(128, 0, 128, 0.7);
  transition: all 2s;
  color: white;
}
.text-trans:hover {
}
.feature-card {
  position: relative;
  border-radius: 25px;
}

.feature-card::before {
  content: "";
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #7c3aed, transparent);
  transition: all 1s;
  opacity: 1;
}

.feature-card:hover::before {
  opacity: 0.5;
  background-image: linear-gradient(to top right, #7c3aed, transparent);
}

@keyframes identifier {
}
/* a:hover {
  color: #535bf2;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
